@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar-track
{
	background-color: transparent;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar
{
	width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #404040;	
  border-radius: 10px;
}